# Misc
Makefile
Dockerfile

# Test environment
test

# Documentation
*.md

# All hidden things
.github
.scripts
.static
.dockerignore
.travis.yml
.eslintrc
.gometalinter.json

# Non-daemon source code
client
*_test.go

# Dependencies
bin
vendor
