# Misc
.github/*
.scripts/*
.static/*
Makefile

# Test environment
test_env/

# Documentation
README.md

# Repository config files
.coveralls.yml
.travis.yml

# Docker config files
Dockerfile
.dockerignore
