# Binaries
*.exe
*.dll
*.so
*.dylib
/bin

# Inertia binaries
/inertia.*
/inertia
/inertiad

# Inertia contrib binaries
/inertia-docgen

# Assets
users.db

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor

# Tests
.inertia
inertia*.toml
bumper
tmp

# Development
.vscode

# Docker images
/images

# mac
.DS_Store

# JetBrains
.idea

# Doc build
docs_build
