# Binaries
*.exe
*.dll
*.so
*.dylib
/inertia.*
/inertia

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor

# Test output
.inertia

# Development
.vscode

# Docker images
inertia-daemon-image

# mac
.DS_Store

# Inertia web
node_modules/
public/
