# Binaries
*.exe
*.dll
*.so
*.dylib
/inertia.*
/inertia
/inertiad
/bin

# Assets
users.db

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendored dependencies
vendor

# Tests
.inertia
inertia*.toml
bumper

# Development
.vscode

# Docker images
/images

# mac
.DS_Store

# Inertia web
node_modules/
public/
