@import '../../styles'

.container
  height: min-content
  vertical-align: middle



.container-info
  > h3
    display: inline-block

  > h4
    display: inline-block

.terminalview
  box-sizing: border-box
