@import '../../styles'

.container-info
  > h3
    display: inline-block
    margin-left: 40px

  > h4
    display: inline-block
    margin-bottom: 20px
    margin-left: 10px

.terminal-view
  height: 496px
  width: 1375px
