$table-row-height: 48px
$table-row-padding: 38px

.table
  background-color: $white
  border-radius: 2px
  box-shadow: 0 2px 4px 0 $shadow
  position: relative

.table-tbody
  color: $greyblue
  font-family: Rubik
  font-size: 14px
  font-weight: 500

.table-thead
  border-bottom: 1px solid $separator

.table-tr-expandable
  display: flex
  flex-wrap: wrap
  position: relative
  width: 100%

.table-tr-expandable-inner
  display: flex
  padding: 0 $table-row-padding
  position: relative
  width: 100%

  .table-td
    height: $table-row-height

  &.expanded
    background-color: $selection-highlight

  &:hover
    background-color: $selection-highlight
    cursor: pointer

.table-tr
  display: flex
  height: $table-row-height
  padding: 0 $table-row-padding
  width: 100%

.table-tr-panel
  opacity: 0
  overflow: auto
  transition: all .25s ease-in-out
  width: 100%

  &.expanded
    opacity: 1

.table-td
  align-items: center
  display: flex
  flex: 1
