// Color palette

// whites
$white: #fff
$background: #f9f9f9

// greys
$greyblue: #666c7b
$darkgrey: #212b36
$grey: #474d5e

// blues
$lightblue: #d3fafb

// highlights
$highlight-light: #e5f0fc
$highlight-blue: #bbecf9
$highlight-teal: #5ac4ba
$highlight-darkteal: #00a09f

// reds
$lightred: #f76c6c

// classes
$separator: rgba(151, 151, 151, .14)
$shadow: rgba(155, 155, 155, .14)

// gradients
$gradient-active-start: #bcf8ab
$gradient-active-end: #dcffeb
$gradient-active: linear-gradient(257deg, $gradient-active-start, $gradient-active-end)

$gradient-inactive-start: #e4e4e4
$gradient-inactive-end: #cacaca
$gradient-inactive: linear-gradient(257deg, $gradient-inactive-start, $gradient-inactive-end)
