// Color palette

$white: #fff
$offwhite: #212b36
$greyblue: #666c7b
$darkgrey: #212b36
$grey: #474d5e
$lightblue: #d3fafb
$lightred: #f76c6c
$selection-highlight: #e5f0fc
$nav-select: #bbecf9

$background: #f9f9f9
$a-color: #5ac4ba
$a-hover-color: #00a09f
$separator: rgba(151, 151, 151, .14)

$shadow: rgba(155, 155, 155, .14)

// Gradients
$gradient-lightblue: #dcffeb
$gradient-green: #bcf8ab

$gradient-active-start: #baffd7
$gradient-active-end: #baefe8

$gradient-inactive-start: #e4e4e4
$gradient-inactive-end: #cacaca
