/* Text styles */

h1
  font-family: Rubik
  font-size: 24px
  font-weight: 500
  letter-spacing: 1px
  color: $grey

h2
  font-family: Rubik
  font-size: 16px
  font-weight: 500
  letter-spacing: 1px
  color: $greyblue

h3
  font-family: Rubik
  font-size: 14px
  font-weight: 500
  color: $darkgrey

h4
  font-family: Rubik
  font-size: 14px
  color: $greyblue

=Paragraph()
  font-family: Rubik
  font-size: 10px
  color: #ffffff



